{% render 'common/top' %}
            <header>
                <nav>
                    <ul>
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><strong><a href="/">Dawid's blog</a></strong></li>
                                <li><h1>{{ title }}</h1></li>
                            </ul>
                        </nav>
                    </ul>
                    <ul>
                        <li><button onclick="toggleTheme()" class="outline contrast">💡</button></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div id="post-header">
                    <p>
                        {% render 'common/render-date', published: published, modified: modified %}
                        <br />
                        {% render 'common/render-tags', tags: tags %}
                    </p>
                    {% if edits %}
                    Edits:
                    {% for edit in edits %}
                    <p class="edit">
                        <em>{{ edit }}</em>
                    </p>
                    {% endfor %}
                    {% endif %}
                </div>
                {{ content }}
            </main>
{% render 'common/bottom' %}