        </div>
        <footer>
            <hr />
            <nav>
                <ul>
                    <li>
                        About me
                    </li>
                </ul>
                <ul>
                    <li>Made with ♡</li>
                    <li>Powered by</li>
                    <li><a href="https://www.11ty.dev/">11ty</a></li>
                    <li><a href="https://picocss.com/">Pico CSS</a></li>
                </ul>
                <ul>
                    <li>
                        Impressum
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>