<div id="sign-off">
    <cite>- Dawid</cite>
    <p><em>Find me on <a href="https://mastodon.gamedev.place/@loganthemanster">Mastodon</a> and on <a href="https://github.com/drusin">GitHub</a>!</p></em>
</div>
