<div id="sign-off">
    <cite>- Dawid</cite>
    <p><em>You can find me on <a href="https://mastodon.gamedev.place/@loganthemanster"><img class="black-logo" src=/src/assets/mastodon.svg />Mastodon</a>
    (follow <a href=https://mastodon.gamedev.place/tags/dawidsblog>#dawidsblog</a> to get notified about new post) 
    and on <a href="https://github.com/drusin/blog"><img class="black-logo" src="/src/assets/github-mark.svg" />GitHub</a>!</p></em>
</div>
