<!DOCTYPE html>
<html>
<script src="/src/toggle-theme.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="{{ generator }}">
    <link rel="stylesheet" href="/pico.min.css" />
    <link rel="stylesheet" href="/prism-okaidia.min.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <title>{{ title }}</title>
</head>

<body>
    <div id="page-container" class="container">
        <div id="content-wrap">