#main-page-nav {
    margin-top: 0.45rem;
}

#dates {
    margin-bottom: 1.5rem;
    font-size: medium;
}

nav ul li:first-of-type {
    padding-left: 0;
}

/* overwrite pico */
nav ul:first-of-type {
    margin-left: 0;
}
